body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kiwi Maru', serif;
    font-size: 16px;
	background: #ffffff;
	color: #015db2;
}

.loginwrap {
  display: flex;
  flex-flow: column;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}
.logincontent {
	display: flex;
	flex: wrap;
	width: 200px;
	height: 150px;
	color: #FFF2E6;
	padding:1em;
  	margin: 20px;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
}
.logintitle {
	font-size: 36px;
	background: #015db2;
	color: #ffffff;
}
input {
	display: block;
	width: 200px;
	margin-top: 5px;
	padding: 15px;
	outline: none;
	border: none;
    font-size: 16px;
    background-color:#F0F8FF;
}
.loginbtn {
  width: 100%;
  border: none;
  outline: none;
  font-size     : 14pt;        /* 文字サイズ */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 30px;   /* 余白       */
    background: #193b73;
    color: #ffffff;
  opacity       : 1;           /* 透明度     */
  transition    : .2s;         /* なめらか変化 */
}
.loginbtn:hover {
  opacity       : 0.2;         /* カーソル時透明度 */
}